<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h1>Users</h1>
<form th:action="@{/users}" th:method="post" th:object="${user}">
  <input type="text" th:id="username" th:name="username" th:field="*{username}">
    <select name="roleName" id="roleName">
        <option th:each="role : ${roleList}" th:value="${role.roleName}" th:text="${role.roleName}"></option>
    </select>

  <input type="submit" value="Save">

</form>
</body>
</html>